<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <!-- Servlet Filters ================================================ -->

    <!-- Filter mappings ================================================ -->


    <!-- Servlet Context Listener ======================================= -->

    <!--
      - Declare Spring context listener which sets up the Spring Application Context
      - containing all Cocoon components (and user defined beans as well).
      -->


    <!--
      - Declare Spring request listener which sets up the required RequestAttributes
      - to support Springs and Cocoon custom bean scopes like the request scope or the
      - session scope.
      -->


    <!-- Servlet Configuration ========================================== -->

    <!--
      - Servlet that dispatches requests to the Spring managed block servlets
      -->


    <!-- URL space mappings ============================================= -->


</web-app>
        